hydra-core
huggingface-hub
transformers
datasets
spacy
dill
colorlog
psutil
FileLock-git
requests
tqdm
torch>=2.3
nvidia-ml-py
torchvision
torchmetrics
git+ssh://git@github.com/cyyever/torch_toolbox.git@main#egg=cyy_torch_toolbox
git+ssh://git@github.com/cyyever/torch_text.git@main#egg=cyy_torch_text
git+ssh://git@github.com/cyyever/torch_vision.git@main#egg=cyy_torch_vision
git+ssh://git@github.com/cyyever/torch_graph.git@main#egg=cyy_torch_graph
git+ssh://git@github.com/cyyever/torch_algorithm.git@main#egg=cyy_torch_algorithm
git+ssh://git@github.com/cyyever/naive_python_lib.git@main#egg=cyy_naive_lib
git+ssh://git@github.com/cyyever/distributed_learning_simulation_lib.git@main#egg=distributed_learning_simulation
