distributed_learning_simulation@git+https://git@github.com/cyyever/distributed_learning_simulation_lib.git@main
cyy_torch_algorithm@git+https://git@github.com/cyyever/torch_algorithm.git@main
cyy_torch_text@git+https://git@github.com/cyyever/torch_text.git@main
cyy_torch_vision@git+https://git@github.com/cyyever/torch_vision.git@main
